Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: Tim Perry <pimterry@gmail.com>
Description: JavaScript test runner
Distribution: development
