Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: java6-runtime
Maintainer: Tim Perry <pimterry@gmail.com>
Description: JavaScript test runner
Distribution: development
